section > div h2 {
  text-align: center;
  font-style: italy;
  font-size: 30px;
  text-decoration: underline;
}
.about-header {
  margin: 0.2rem;
  font-style: italic;
}
section > div p {
  line-height: 1.8;
  font-size: 20px;
}
.right,
.vansBody {
  border: 15px solid var(--whiteText);
  padding: 10px;
  border-radius: 2rem;
  background-color: var(--lightCoral);
  box-shadow: 10px 10px 8px var(--lightCoral);
  overflow: scroll;
}
.imageBackground {
  padding: 10px;
}
.imageBackground img {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 2rem;
}
@media (min-width: 48em) {
  /* CSS selector that targets all classes that start with .col- */
  [class*="col-"] {
    /* get your columns to stack horizontally when the screen is small and above */
    float: left;
  }
}
