.right {
  border: 15px solid var(--whiteText);
  padding: 10px;
  border-radius: 2rem;
  background-color: var(--lightCoral);
  box-shadow: 10px 10px 8px var(--lightCoral);
  overflow: scroll;
}

.imageBackground {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
}
.imageBackground img {
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}
.imageBackground .carStyle {
  padding: 1rem;
  text-align: center;
}

@media (max-width: 48em) {
  /* CSS selector that targets all classes that start with .col- */
  [class*="col-"] {
    /* get your columns to stack horizontally when the screen is small and above */
    float: left;
  }
  .imageBackground {
    margin: 0 auto;
    width: 400px;
    padding: 10px;
  }
  .imageBackground img {
    max-width: 300px;
    height: auto;
    outline: none;
  }
  .imageBackground .carStyle {
    text-align: center;
    width: 300px;
  }
}
