.login-link {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds space between avatar and text */
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.login-link:hover {
  color: var(--btnColor);
}

.avatar {
  width: 30px; /* Adjust size */
  height: 30px;
  border-radius: 50%; /* Makes it circular */
  object-fit: cover;
}
