/* footer.css */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--magic); /* You can adjust the background color */
  color: var(--darkText);
  padding: 20px 0;
  z-index: 10;
}

/* .container {
  width: 100%;
  margin: 0 auto;
} */

.footerStyle {
  display: flex;
  justify-content: space-around;
}

.footerContainer {
  text-align: center;
}

h1,
h2 {
  margin: 0;
}
